<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
  	<typeAliases>
  		<typeAlias type="emp.dto.MyEmpDTO" alias="emp"/>
  		<typeAlias type="board.dto.BoardDTO" alias="brd"/>
  	</typeAliases>
  <mappers>
  	<mapper resource="mapper/empmapper.xml"/>
  	<mapper resource="mapper/brdmapper.xml"/>
  </mappers>
  </configuration>
  
   